<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979574126888-r494k8fn52pl6l7chcdnapjm6qodss2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979574126888-r494k8fn52pl6l7chcdnapjm6qodss2p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>979574126888-0q394uil05cbe15v9dpojtdlm9guptfk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBm2uhTmmGjF8NE6QU6PL4zca5Z8pqMGg0</string>
	<key>GCM_SENDER_ID</key>
	<string>979574126888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rikizo.app</string>
	<key>PROJECT_ID</key>
	<string>project-9c65f87c-e8c8-409b-843</string>
	<key>STORAGE_BUCKET</key>
	<string>project-9c65f87c-e8c8-409b-843.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979574126888:ios:ff6a12daac9285bd14b81d</string>
</dict>
</plist>